<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Search WebappUser</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Search user by National Code</h1>-->
<!--<form action="#" th:action="@{/admin/searchByNationalCode}" th:object="${students}" method="post">-->
<!--    <label for="nationalCode">National Code:</label>-->
<!--    <input type="text" id="nationalCode" name="nationalCode" />-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->

<!--<h2>Search Results</h2>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>role</th>-->
<!--        <th>firsName</th>-->
<!--        <th>lastName</th>-->
<!--        <th>username</th>-->
<!--        <th>dob</th>-->
<!--        <th>National Code</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="student : ${students}">-->
<!--        <td th:text="${id}">ID</td>-->
<!--        <td th:text="${role}">role</td>-->
<!--        <td th:text="${firstName}">Name</td>-->
<!--        <td th:text="${lastName}">lastName</td>-->
<!--        <td th:text="${username}">username</td>-->
<!--        <td th:text="${dob}">dob</td>-->
<!--        <td th:text="${nationalCode}">National Code</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->
